.navbar-brand,
.navbar-nav li a {
    line-height: 85px;
    height: 85px;
    padding-top: 0;
}

.navbar-logo {
  margin: 0 10px;
  height: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.jumbotron {
  background-size: cover;
  height: 400px;
}

.project-jumbo {
  background-image: url(../images/first-team.jpg);
}

.volunteer-jumbo {
  background-image: url(../images/volunteer-shoshong.jpg);

}

.play-btn-box {
  line-height: 400px;
}

.modal-play-btn {
  color: white;
}

footer {
  background:#eee;
  padding-bottom: 55px;
}

.site-map li {
  display: block;
}

.lead, .map-list {
  margin-top: 40px;
}

.footer-logo {
  width: 55%;
}

.social-media-icon {
  width: 85px;
  height: 85px;
  margin: 0, 3px;
  overflow: hidden;
  background-image: url(../images/social_media_sprite.png);

}

.social-media-icon.facebook { background-position: -588px -0px; }
.social-media-icon.youtube { background-position: -83px -0px; }
.social-media-icon.twitter { background-position: -420px -0px; }
