
body {
  color: white;
}

h1 {
  color: #333;
}

.project-description, .volunteer-description {
  color: #333;
}

.heading {
  color: #2385c8;
}

.navbar-default {
  background: #fff;
  border-bottom:1px solid #dddddd;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 85px;
    height: 85px;
    padding-top: 0;
}

.navbar-logo{
  margin: 0, 10px;
  height: 100%;
}

.carousel-inner {
  max-height: 450px;
  overflow: hidden;
}

.carousel-caption {
  top: 0px;
}

.carousel-inner .item img {
  position: relative;
  top: -45x;
}


#take-action {
  background-color: #78b7e2;
}

.donate-action,
.volunteer-action,
.subscribe-action {
	text-align: center;
}

.btn-lg {
	margin: 40px 0;
}

.navbar {
	margin-bottom: 0;
}

.icon-copy {
  font-size: 1.5em;
}

#our-projects {
  background-color: #1a6395;
  padding: 0 0 20px 0px;
}

#about-us {
  background-color: #2385c8;
  padding: 0 0 20px 0px;
}

#our-partners {
  background-color: #f1f1f2;
  padding: 0 0 20px 0px;
}

.partner-logo {

}

#sponsor-org-box {
  margin: 40px 0;
}

#sponsor-org-box h5, #prof-assoc-box h5 {
  color:#2385c8;
  margin-bottom:40px;
}

#prof-assoc-box {
  margin: 40px 0;
}

footer {
	background:#eee;
  padding-bottom: 55px;
  color: black;
}

.site-map li {
	display: block;
}

.lead, .map-list {
	margin-top: 40px;
}

.footer-logo {
  width: 55%;
}

.social-media-icon {
  width: 85px;
  height: 85px;
  margin: 0, 3px;
  overflow: hidden;
  background-image: url(../images/social_media_sprite.png);

}

.social-media-icon.facebook { background-position: -588px -0px; }
.social-media-icon.youtube { background-position: -83px -0px; }
.social-media-icon.twitter { background-position: -420px -0px; }
