.navbar {
  /*background-color: #0d3049;*/
}

.navbar-brand,
.navbar-nav li a {
    line-height: 85px;
    height: 85px;
    padding-top: 0;
}

.navbar-logo{
  margin: 0, 10px;
  height: 100%;
}

.carousel-inner {
  max-height: 600px;
  overflow: hidden;
}

.carousel-caption {
  top: 0px;
}

.donate-action,
.volunteer-action,
.subscribe-action {
	text-align: center;
}

.btn-lg {
	margin: 40px 0;
}

.navbar {
	margin-bottom: 0;
}

.icon-copy {
  font-size: 1.5em;
}

.partner-logo {

}

#sponsor-org-box {
  border: solid #666;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

#prof-assoc-box {
  border: solid #666;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

footer {
	background:#eee;
  padding-bottom: 55px;
}

.site-map li {
	display: block;
}

.lead, .map-list {
	margin-top: 40px;
}

.footer-logo {
  width: 100%;
}

.social-media-icon {
  width: 85px;
  height: 85px;
  margin: 0, 3px;
  overflow: hidden;
  background-image: url(../images/social_media_sprite.png);

}

.social-media-icon.facebook { background-position: -588px -0px; }
.social-media-icon.youtube { background-position: -83px -0px; }
.social-media-icon.twitter { background-position: -420px -0px; }
