
body {
  color: black;
}

/*---------------*/
/***** Fonts *****/
/*---------------*/

@font-face {
    font-family: 'gotham_bookregular';
    src: url('gotham-book-webfont.eot');
    src: url('gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-book-webfont.woff') format('woff'),
         url('gotham-book-webfont.ttf') format('truetype'),
         url('gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_boldregular';
    src: url('gotham-bold-webfont.eot');
    src: url('gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-bold-webfont.woff') format('woff'),
         url('gotham-bold-webfont.ttf') format('truetype'),
         url('gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_mediumregular';
    src: url('gotham-medium-webfont.eot');
    src: url('gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-medium-webfont.woff') format('woff'),
         url('gotham-medium-webfont.ttf') format('truetype'),
         url('gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, {
  font-family: 'gotham_boldregular';
}
h3, h4, h5, h6 {
  font-family: 'gotham_mediumregular';
}
p, li, a {
  font-family: 'gotham_bookregular';
}



h1 {
  color: #333;
}
p {
  color: black;
}
.project-description, .volunteer-description {
  color: #333;
}

.heading {
  color: #2385c8;
}

.navbar-default {
  background: #fff;
  border-bottom:1px solid #dddddd;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 85px;
    height: 85px;
    padding-top: 0;
}

.navbar-logo{
  margin: 0 10px;
}

/*
~~~
Buttons
~~~
*/
/* General button styles */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.action-button {

}

/*
~~~
Carousel
~~~
*/

#owl-demo {
  max-height: 450px;
  overflow: hidden;
}

#owl-demo .item img{
  position: relative;
  top: -45px;
  display: block;
  width: 100%;
}

#owl-demo .slide-1-content {
  position: absolute;
  top: 85px;
  left: 125px;
}

#owl-demo .slide-1-content h1 {
  color: black;
}

#owl-demo .slide-2-content {
  position: absolute;
  top: 100px;
  left: 185px;
}

#owl-demo .slide-2-content h1 {
  color: white;
}

#owl-demo .slide-3-content {
  position: absolute;
  top: 100px;
  right: 95px;
  color: white;
}

#owl-demo .slide-3-content h1 {
  color: white;
}

#take-action {
  background-color: #78b7e2;
}

.user-action {
	text-align: center;
}

.btn-lg {
	margin: 40px 0;
}

.navbar {
	margin-bottom: 0;
}

.icon-copy {
  font-size: 1.5em;
}

#our-projects {
  background-color: #1a6395;
  padding: 0 0 20px 0px;
}

#about-us {
  background-color: #2385c8;
  padding: 0 0 20px 0px;
}

#our-partners {
  background-color: #f1f1f2;
  padding: 0 0 20px 0px;
}

.partner-logo {
  height: 50px;
}

#sponsor-org-box {
  margin: 40px 0;
}

#sponsor-org-box h5, #prof-assoc-box h5 {
  color:#2385c8;
  margin-bottom:40px;
}

#prof-assoc-box {
  margin: 40px 0;
}

footer {
	background:#eee;
  padding-bottom: 55px;
  color: black;
}

.site-map li {
	display: block;
}

.lead, .map-list {
	margin: 40px 0;

}

.footer-logo {
  width: 55%;
}

.social-media-icon {
  width: 85px;
  height: 85px;
  margin: 0, 3px;
  overflow: hidden;
  background-image: url(../images/social_media_sprite.png);

}

.social-media-icon.facebook { background-position: -588px -0px; }
.social-media-icon.youtube { background-position: -83px -0px; }
.social-media-icon.twitter { background-position: -420px -0px; }


/* ~~~~
Common styles for hoverboxes 
~~~~*/
.hoverbox {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.hoverbox h2 {
  color: rgb(59, 104, 128);
}

.hoverbox figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.hoverbox figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

.hoverbox figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hoverbox figure figcaption::before,
.hoverbox figure figcaption::after {
  pointer-events: none;
}

.hoverbox figure figcaption,
.hoverbox figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ~~~~
These are the anchors 
~~~~*/
.hoverbox figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.hoverbox figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.hoverbox figure h2 span {
  font-weight: 800;
}

.hoverbox figure h2,
.hoverbox figure p {
  margin: 0;
}

.hoverbox figure p {
/*  letter-spacing: 1px;*/
  font-size: 1.5rem;
  color: #fff;
  text-align: justify;
}
figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(86, 128, 228, 0) 0%, rgba(86, 128, 228, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(86, 128, 228, 0) 0%, rgba(86, 128, 228, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0,50%,0);
  transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5em 2em 0 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/* ~~~~
Unique Stylings for HOME and ABOUT
~~~~*/

.user-action .hoverbox figure {
  width: 100%;
  height: 300px;
}
.user-action .hoverbox figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}


.team .hoverbox figure {
  width: 90%;
  height: 400px;
}



/* START PROJECTS PAGE STYLES */

.jumbotron {
  background-size: cover;
  height: 400px;
}

.project-jumbo {
  background-image: url(../images/first-team.jpg);
}

.volunteer-jumbo {
  background-image: url(../images/volunteer-shoshong.jpg);

}

.play-btn-box {
  line-height: 400px;
}

.modal-play-btn {
  color: white;
}

/* Responsive YouTube Embed Start */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
} /* Responsive YouTube Embed End */

/* Project Page Styles */

.dropdown li a {
  line-height: 35px !important;
  height: 35px !important;
}

#sub-nav {
  min-height: 0px;
}

#sub-nav li a {
  line-height: 35px;
  height: 35px;
  padding-top: 0;
}

.project-summary {
  font-size: 1.25em;
  padding-bottom: 10px;
}

.botswana-jumbo {
  background-image: url(../images/project-pics/botswana/shoshong1.jpg);
  background-position: 50% 75%;
}

.india-jumbo {
  background-image: url(../images/project-pics/india/india1.jpg);
  /*background-position: 50% 75%;*/
}

.dominican-jumbo {
  background-image: url(../images/project-pics/dominican/dominican1.jpg);
  /*background-position: 50% 75%;*/
}

.tanzania-jumbo {
  background-image: url(../images/project-pics/tanzania/tanzania1.jpg);
  background-position: 50% 75%;
}

.article-img {
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.article-img-l {
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* Social Media Icons */

.social {
  text-align: center;
}

.fa-facebook, .fa-youtube, .fa-twitter {
  font-size: 2.5em;
  color: #fff;
  display: inline-block;
  margin:0 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;

}


.fa-facebook {
  color: #3b5998;

}

.fa-youtube {
  color: #cc181e;
}

.fa-twitter {
  color:#55acee;
}


/* Resources */

.heading.resources {
  padding:10px 45px;
}

.resource-category {
  margin:40px 0 20px 0;
  text-align: center;
}

.model-of-care {
  color: #000;
  font-size: 1.2em;
  padding:0 45px;
  margin-bottom: 40px;
}

#who-we-are .container {
  width: 75%;
  margin: 35px auto;
}

#who-we-are h3 {
  text-align: center;
  font-family: 'Gotham-Book';
}

