
body {
  color: black;
}

/*---------------*/
/***** Fonts *****/
/*---------------*/

@font-face {
    font-family: 'gotham_book';
    src: url('../fonts/gotham-book-webfont.eot');
    src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'gotham_bold';
    src: url('../fonts/gotham-bold-webfont.eot');
    src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold-webfont.woff') format('woff'),
         url('../fonts/gotham-bold-webfont.ttf') format('truetype'),
         url('../fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_medium';
    src: url('../fonts/gotham-medium-webfont.eot');
    src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-medium-webfont.woff') format('woff'),
         url('../fonts/gotham-medium-webfont.ttf') format('truetype'),
         url('../fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, {
  font-family: 'gotham_bold';
}
h3, h4, h5 {
  font-family: 'gotham_medium';
}
h6 {
  font-family: 'gotham_book';
}
p, li, a {
  font-family: 'gotham_book';
}


/*---------------------------------------
 **   COLORS                         -----
-----------------------------------------*/

/** 
~~~
For Text and Font-Icons
~~~
**/
.light-blue {
  color: rgba(86, 178, 228, 0.9);
}
.medium-blue {
  color: rgba(44, 146, 204, 0.9); 
}
.dark-blue {
  color: rgba(59, 104, 128, 0.9);
}
.dark-text {
  color: #404040;
}
.white-text {
  color: #FFFFFF;
}

/*---------------------------------------
 **   STYLE DEFAULTS                 -----
-----------------------------------------*/

p {
  color: #333;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
}

.heading {
  color: #2385c8;
}

.navbar .navbar-default {
  background: #fff;
  border-bottom:1px solid #dddddd;
  height: 200px;
}

.navbar-brand,
.navbar-nav li a {
  font-size: 1em;
  padding: 0;
  margin: 2em;
  line-height: 1.2em;
}

.navbar-nav li a:hover {
  padding-top: 0;
  line-height: 1.5em;
  color: rgb(44, 146, 204);  
}
.navbar-logo{
  margin: -10px 15px;
}

/** 
~~~~
BACKGROUNDS 
~~~
**/
.light-blue-bg {
  background-color: rgba(86, 178, 228, 0.9);
}
.medium-blue-bg {
  background-color: rgba(44, 146, 204, 0.9);  
}
.dark-blue-bg {
  background-color: rgba(59, 104, 128, 0.9);
}
.light-grey-bg {
  background-color: rgba(216,216,216, 0.9);
}
.medium-grey-bg {
  background-color: rgba(128,128,128, 0.9);
}
.white-bg {
  background-color: #fff;
}
/** 
~~~~
SEPARATORS 
~~~
**/

.about-us {
  font-family: 'gotham_book';
  position: relative;
  overflow: hidden;
}
.about-links {
  position: absolute;
  width: 300px;
  float: right;
}


/* Rounded center split and bottom rounded */
.roundedsplit {
  position: relative;
  padding: 10em 10%;
  color: #fff;
  text-align: center;  
  padding-top: 7em;
  border-radius: 0 0 80px 80px;
}

.roundedsplit::before {
  top: -70px;
  left: 0;
  z-index: 10;
  width: 50%;
  height: 70px;
  background: inherit;
}

.roundedsplit::before {
  border-radius: 0 80px 0 0;
}

.invertedrounded {
  margin-bottom: 90px;
  padding: 13em 10% 10em;
  border-radius: 0 0 0 90px;
}

.about-icon {
  display: inline-block;
  width: 80px;
  margin: 1rem auto;
  padding: 1.2rem;
  text-decoration: none;
}

.about-links h4 {
  text-align: left;
}
/* Curves */
#curveUpColor path,
#curveDownColor path {
  fill: rgba(86, 178, 228, 0.9);
  stroke: rgba(86, 178, 228, 0.9);
  padding-bottom: -10px;
}

.elon-separator {
  background-image: url(../images/team/elonmusk.jpg)no-repeat;
  background: url('../images/team/elonmusk.jpg') no-repeat;
  height: 500px;
  width: 100%;
  margin-top: -10px;
  background-size: 100%;
  top: -50px;
  background-attachment: fixed;
}
.overlay {
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(86, 178, 228, 0.5);
}

.overlay h6 {
  text-align: justify;
  padding: 8% 35% 1% 5%;
  color: white;
  font-family: 'gotham_book';
  font-weight: 100;
  line-height: 5rem;  
  letter-spacing: 0.7rem;
  word-spacing: 1rem;
  font-size: 3rem;
}

.overlay span {
  border-bottom: 3px solid rgb(86, 178, 228);
}

.film {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  height: 100%;
  width: 100%;
  text-align: center;
}

/*---------------------------------------
 **   BUTTON DEFAULTS               -----
-----------------------------------------*/

.btn {
  border: 4px solid rgba(86, 178, 228, 0.9);
  font-family: inherit;
  font-size: inherit;
  background-color: rgba(86, 178, 228, 0.9);
  cursor: pointer;
  padding: 25px 40px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin: 2rem 3rem;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background: transparent;
  color: rgba(44, 146, 204, 0.9);
}

.buttons {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 45px;
}

/*
~~~
TEXT-DEFAULTS
~~~
*/
.copy {
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
}


/*
~~~
Multi-coloured buttons
~~~
*/

.col-centered {
  float: none;
  margin: 0 auto; 
}

.light-blue-btn,.medium-blue-btn,.dark-blue-btn,.dark-btn {
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.light-blue-btn:hover {
  color: #fff;
  background-color: transparent;
  border: 4px solid rgba(44, 146, 204, 0.9);
}
.medium-blue-btn:hover {
  color: #fff;
  background-color: rgba(86, 178, 228, 0.9);
}
.dark-blue-btn:hover {
  color: #FFF;
  background: rgba(44, 146, 204, 0.9);
}

/*---------------------------------------
 **   BORDER BOTTOMS                 -----
-----------------------------------------*/
.blue-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: rgb(59, 104, 128);
  bottom: -9px;
  left: 12.5%;
}
.grey-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: rgb(128,128,128);
  bottom: -9px;
  left: 12.5%;
}

/*---------------------------------------
 **   SECTION SETTINGS              -----
-----------------------------------------*/

/*** 
~~~
SECTION HEADERS 
~~~
***/
.who-we-are, .take-action, .why-spine, .our-partners  {
  padding-top: 2%; 
}
.section-header {
  text-align: center;
  padding: 75px 0;
  font-family: 'gotham_book' !important;
}
.section-header h2 {
  padding-bottom: 10px;
  line-height: 40px;
  position: relative;
  display: inline-block;
}
.section-header h6 {
  font-size: 16px;
}
.mission {
  margin-top: 100px;
}
/*
~~~
OUR PROJECTS
~~~
*/
.our-projects {
  margin-top: -10px;
  background-color: rgb(86, 178, 228);
}
.feature-projects {
  margin-bottom: 2rem;
}
.project-description {
  text-align: justify;
  margin: 3rem 0;
}
.project-description a {
  font-family: 'gotham_bold';
  text-decoration: none;
  cursor: pointer;
}

/*
~~~
USER-ACTIONS
~~~
*/
.user-action {
  min-width: 100%;
  min-height: 100%;
}

/*
~~~
USER-ACTIONS
~~~
*/

.our-partners {
  padding-bottom: 2%;
  background-color: #f1f1f2;
}
/*
~~~
Carousel
~~~
*/

.take-action::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-style: solid;
  border-width: 1.5em 1.469em 0 1.469em;
  border-color: rgb(86, 178, 228)  transparent transparent transparent;
  left: 50%;
  margin-left: -0.496em;
}

#owl-demo {
  max-height: 450px;
  overflow: hidden;
}

#owl-demo .item img{
  position: relative;
  top: -45px;
  display: block;
  width: 100%;
}

.slide-copy {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 40%;
}
.slide-copy h1 {
  font-family: 'gotham_medium';
}
.right {
  left: 60%;  
}

.navbar {
	margin-bottom: 0;
}

.individual-projects {
/*  min-height: 560px;*/
  margin-bottom: 2%;
}
.icon-copy {
  font-size: 1.5em;
}


.partner-logo {
  height: 50px;
}

/*.sponsor-org {
  margin: 40px 0;
}

.sponsor-org-box h5, .prof-assoc-box h5 {
  margin-bottom:40px;
}*/


footer {
  color: black;
}

.site-map li {
	display: block;
}

.lead, .map-list {
	margin: 40px 0;

}

.footer-logo {
  width: 55%;
}

.social-media-icon {
  width: 85px;
  height: 85px;
  margin: 0, 3px;
  overflow: hidden;
  background-image: url(../images/social_media_sprite.png);

}

.social-media-icon.facebook { background-position: -588px -0px; }
.social-media-icon.youtube { background-position: -83px -0px; }
.social-media-icon.twitter { background-position: -420px -0px; }


/* ~~~~
Common styles for hoverboxes 
~~~~*/
.hoverbox {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.hoverbox figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.hoverbox figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

.hoverbox figure figcaption {
  padding: 2em;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hoverbox figure figcaption::before,
.hoverbox figure figcaption::after {
  pointer-events: none;
}

.hoverbox figure figcaption,
.hoverbox figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ~~~~
These are the anchors 
~~~~*/
.hoverbox figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.hoverbox figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.hoverbox figure h2 span {
  font-weight: 800;
}

.hoverbox figure h2,
.hoverbox figure p {
  margin: 0;
}

.hoverbox figure p {
/*  letter-spacing: 1px;*/
  font-size: 1.5rem;
  color: #fff;
  text-align: justify;
}
figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(86, 178, 228, 0) 0%, rgba(86, 178, 228, 0) 75%);
  background: linear-gradient(to bottom, rgba(86, 178, 228, 0) 0%, rgba(86, 178, 228, 0.9) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0,50%,0);
  transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5em 2em 0 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
  color: rgb(59, 104, 128);
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/* ~~~~
Unique Stylings for HOME and ABOUT
~~~~*/

.user-action .hoverbox figure {
  width: 100%;
  height: 300px;
}
.user-action .hoverbox figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}


.team .hoverbox figure {
  width: 90%;
  height: 400px;
}


/*---------------------------------------
 **        BACKGROUNDS              -----
-----------------------------------------*/

.jumbotron {
  background-size: cover;
  height: 400px;
}

.project-jumbo {
  background-image: url(../images/first-team.jpg);
}

.volunteer-jumbo {
  background-image: url(../images/volunteer-shoshong.jpg);

}

.polygon-bg {
  background-image: url(../images/backgrounds/bluepoly2.jpg);
  margin-top: 60%;
  height: 300px;
  background-position: -300px;
  background-attachment: fixed;
}

.side-bg {

}
.abstract-spine {/*
  background-image: url(../images/abstract-spine.png);
  background-size: cover;*/
  height: 1000px;
  width: 100%;
}

.play-btn-box {
  line-height: 400px;
}

.modal-play-btn {
  color: white;
}

/* Responsive YouTube Embed Start */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
} /* Responsive YouTube Embed End */

/* Project Page Styles */

.dropdown li a {
  line-height: 35px !important;
  height: 35px !important;
}

#sub-nav {
  min-height: 0px;
}

#sub-nav li a {
  line-height: 35px;
  height: 35px;
  padding-top: 0;
}

.project-summary {
  font-size: 1.25em;
  padding-bottom: 10px;
}
/*
~~~
SUBNAV FOR ABOUT US AND PROJECTS
~~~
*/
.sub-nav {
  position: fixed;
  top: 100px;
  display: fixed;
  font-size: 2rem;
  border-right: 3px solid rgb(86, 178, 228);
  width: 160px;
  margin: 0 auto;
}
.sub-nav li {
  text-decoration: none;
  list-style: none;  
  text-align: center;
}
.sub-nav li:hover{
  text-decoration: none;
}
.current a {
  color: rgb(44, 146, 204);
  font-size: 2rem;
  position: relative;
  outline: none;
  text-decoration: none;
}
.current img {
  border-bottom: 3px solid rgb(86, 178, 228);
}
#main-nav .current a:hover {
  text-decoration: none !important;
}
/*---------------------------------------
 **   PICTURES                      -----
-----------------------------------------*/

/*
~~~
PROJECT PICS
~~~
*/

.img-wrapper {
  border-radius: 50%;
  height: 200px;
}

.botswana-jumbo {
  background-image: url(../images/project-pics/botswana/shoshong1.jpg);
  background-position: 50% 75%;
}

.india-jumbo {
  background-image: url(../images/project-pics/india/india1.jpg);
  /*background-position: 50% 75%;*/
}

.dominican-jumbo {
  background-image: url(../images/project-pics/dominican/dominican1.jpg);
  /*background-position: 50% 75%;*/
}

.tanzania-jumbo {
  background-image: url(../images/project-pics/tanzania/tanzania1.jpg);
  background-position: 50% 75%;
}

.article-img {
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.article-img-l {
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 10px;
}



/* Social Media Icons */

.social {
  text-align: center;
}

.fa-facebook, .fa-youtube, .fa-twitter {
  font-size: 2.5em;
  color: #fff;
  display: inline-block;
  margin:0 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;

}


.fa-facebook {
  color: #3b5998;

}

.fa-youtube {
  color: #cc181e;
}

.fa-twitter {
  color:#55acee;
}


/* Resources */

.heading.resources {
  padding:10px 45px;
}

.resource-category {
  margin:40px 0 20px 0;
  text-align: center;
}

.model-of-care {
  color: #000;
  font-size: 1.2em;
  padding:0 45px;
  margin-bottom: 40px;
}

.who-we-are {
  text-align: center;
  letter-spacing: 0.2rem;
}
.who-we-are h3 {
  font-family: 'gotham_book';
  margin-top: -1rem;
}

/*
~~~
CONTACT-US FORM
~~~
*/

#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  padding-top:0px;
}

#form-div {
  background-color:rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  min-width: 450px;
  max-width: 700px;
  margin: 30px auto;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

